<!doctype html><html lang="en">
<head>
  <meta charset="utf-8">
  <title>?1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./?1.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="./?1.js"></script>
</head>
<body>
  <div class="?1">
    Welcome to ?1
  </div>
  <script>
    ?1();
  </script>
</body>
</html>
