<!doctype html><html lang="en">
<head>
  <meta charset="utf-8">
  <title>?2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <h1>?2</h1>
  <div>
  </div>

<script src="?1.js"></script>
<script>
  ?1.init();
</script>
</body>
</html>
